flujo.json
{
    "nodes": [
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.body.sessionId || 'session_default' }}",
                "tableName": "chat_messages",
                "contextWindowLength": 20
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                784,
                -496
            ],
            "id": "d1562d76-5ff6-4293-b565-39250a4af288",
            "name": "Postgres Chat Memory",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "RbJvkmz8YCscCTEB",
                    "name": "Postgres cuenta principal"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "9f152dc2-90ac-4746-b506-c228645afe17",
                                        "leftValue": "={{ $json.body.tenant }}",
                                        "rightValue": "Agencialquimia",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -48,
                -304
            ],
            "id": "d2158778-b10d-47e7-886d-12ab10cc0f84",
            "name": "Switch"
        },
        {
            "parameters": {
                "descriptionType": "manual",
                "toolDescription": "Usa esta herramienta cuando tengas los 4 datos requeridos. MUY IMPORTANTE: La variable fecha DEBE estar en estricto formato ISO 8601 incluyendo el timezone de Madrid (ejemplo estricto: 2026-03-04T16:00:00+01:00). NUNCA envies la fecha sin el offset +01:00 o +02:00 segun corresponda, o la base de datos restara horas. Pasa los 4 parametros y ejecutala.",
                "operation": "executeQuery",
                "query": "INSERT INTO leads_agencialquimia (cliente_nombre, cliente_telefono, cliente_correo, fecha_cita) VALUES ($1, $2, $3, CAST($4 AS TIMESTAMPTZ));",
                "options": {
                    "queryReplacement": "{{$fromAI(\"nombre\")}}, {{$fromAI(\"telefono\")}}, {{$fromAI(\"correo\")}}, {{$fromAI(\"fecha\")}}"
                }
            },
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.6,
            "position": [
                992,
                -112
            ],
            "id": "daba2b63-3e53-4682-be24-2133257b1233",
            "name": "Insert Lead in DB",
            "credentials": {
                "postgres": {
                    "id": "RbJvkmz8YCscCTEB",
                    "name": "Postgres cuenta principal"
                }
            }
        },
        {
            "parameters": {
                "descriptionType": "manual",
                "toolDescription": "Usa esta herramienta EXCLUSIVAMENTE DESPUES de haber guardado al lead en la base de datos (con Insert Lead in DB) para crearle el evento en el calendario. Necesitas pasar: nombre, correo, telefono, empresa y fecha en estricto ISO 8601.",
                "calendar": {
                    "__rl": true,
                    "value": "matiasidiartviera@gmail.com",
                    "mode": "list",
                    "cachedResultName": "matiasidiartviera@gmail.com"
                },
                "start": "={{ $fromAI('fecha')}}",
                "end": "={{ DateTime.fromISO($fromAI('fecha')).plus({minutes: 45}).toISO() }}",
                "additionalFields": {
                    "allday": "no",
                    "attendees": [
                        "={{ $fromAI('correo') }}",
                        ""
                    ],
                    "description": "={{ 'Datos del Lead:\\nEmpresa: ' + ($fromAI('empresa') || 'No proveida') + '\\nTelefono: ' + ($fromAI('telefono') || 'No proveido') }}",
                    "conferenceDataUi": {},
                    "summary": "={{ 'Auditoria AgenciAlquimia - ' + $fromAI('nombre') }}"
                }
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                848,
                -112
            ],
            "id": "f5841bd9-8468-4f1e-b7fc-d3ed0c4770c2",
            "name": "CrearEventoCalendario",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "jJqwsgWJF7qb0gB1",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "483fe621-3e3e-41f2-a0a6-cf82f3e398f0",
                                        "leftValue": "{{ $json.output }}",
                                        "rightValue": "INFO",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "INFO"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "6ea6d174-1bf8-481f-84e6-006aeb4a62a7",
                                        "leftValue": "{{ $json.output }}",
                                        "rightValue": "CUALIFICAR",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "CUALIFICAR"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "4e14dc72-2cc5-43c2-af56-d3f49ddabd0d",
                                        "leftValue": "={{ $json.output }}",
                                        "rightValue": "AGENDAR",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "AGENDAR"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": 0
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                400,
                -80
            ],
            "id": "2ae8186a-dc7e-46e9-b082-0a852edc0289",
            "name": "Switch1"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "v1/agente/consulta",
                "responseMode": "lastNode",
                "options": {
                    "allowedOrigins": "*",
                    "binaryPropertyName": "data",
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -176,
                -80
            ],
            "id": "1cc736a5-f039-427e-8efd-a34642e82c56",
            "name": "Webhook",
            "webhookId": "ad08f174-332b-4060-a148-db2e95fb95a1"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                16,
                144
            ],
            "id": "f1ef4975-e5a6-4ff5-86cb-387d9092aa47",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "lwiywrx976Ev9exU",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Eres el Ejecutivo de Cuentas Senior (Closer) de AgenciAlquimia y tu nombre es Alex. Tu trabajo es actuar como un SOCIO ESTRATEGICO, no como un bot de citas.\n\nREGLAS DE ACTUACION:\n1. Mentalidad de Socio: Quieres ayudar a la empresa a ganar más dinero y ahorrar tiempo.\n2. Lenguaje de Negocios: Habla de 'escalar y automatizar'. NADA de jerga técnica.\n3. Memoria Absoluta: Revisa TODO el historial del chat. JAMAS pidas el Nombre, Correo, Telefono o Empresa de nuevo si ya los ha mencionado.\n4. BREVEDAD EXTREMA (MANDATORIO): RESPONDE EN UNA SOLA ORACION, MAXIMO DOS. NADA DE TESTAMENTOS.\n5. Cierre Firme y Realista: Conduce tú el cierre dándole opciones directas. Ejemplo: 'Viendo tu caso, necesitamos sentarnos 45 mins. ¿Te encaja mejor solucionar esto el lunes por la mañana, o prefieres por la tarde? (Horario de 09:00 a 18:00h)'.\n\nCRITICAL INSTRUCTION: As soon as the user confirms their intent to schedule and agrees to a date/time, you MUST CALL the 'Insert Lead in DB' tool FIRST, and IMMEDIATELY AFTER call 'CrearEventoCalendario' to save the event. In the calendar event you must include the Name, Phone and Company extracted from the context. Do this BEFORE replying textually."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                704,
                -256
            ],
            "id": "3378f1e7-66eb-4786-84f7-29401e00c25f",
            "name": "Especialista 3: Agendar"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                672,
                -112
            ],
            "id": "7f8b3279-4b5f-4c2c-823e-9d9b98d61da8",
            "name": "Google Gemini Chat Model1",
            "credentials": {
                "googlePalmApi": {
                    "id": "lwiywrx976Ev9exU",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook').item.json.body.chatInput }}",
                "options": {
                    "systemMessage": "ERES EL ASISTENTE VIRTUAL DE AGENCIALQUIMIA. TU OBJETIVO ES LLEVAR AL USUARIO A AGENDAR UNA CITA.\n\n### REGLAS DE ORO A SEGUIR ESTRICTAMENTE:\n\n1. OBLIGACIÓN DE LONGITUD: TUS RESPUESTAS NUNCA, BAJO NINGUNA CIRCUNSTANCIA, PUEDEN TENER MÁS DE 25 PALABRAS. \n2. PROHIBICIÓN ABSOLUTA DE DISCULPARSE: Tienes estrictamente prohibido decir 'Lo siento', 'Mis disculpas', 'Mil disculpas'.\n3. LECTURA DE HISTORIAL: OBLIGATORIO leer el historial de la conversación. Si el usuario te dice su nombre o su tipo de negocio, úsalo. \n4. GESTIÓN DE DATOS PERSONALES: Tú NO TIENES ACCESO a modificar la base de datos. Si el sistema dice un nombre (ej. Carlos) y el usuario te corrige (ej. 'Me llamo Matías'), dile que él mismo puede actualizar su nombre en su perfil/plataforma, y a partir de ahí trátalo como él quiera SIN disculparte.\n5. CERO VERBOSIDAD: No des explicaciones, no justifiques tus respuestas, ve directo al punto.\n6. FLUJO: Solo debes responder con: [Breve mención del problema] + [Pregunta directa].\n\n### EJEMPLO DE RESPUESTA CORRECTA:\n'Entiendo el problema con el teléfono. En AgenciAlquimia podemos automatizarlo. ¿Cuántas horas al día pierden en eso?'\n\n### EJEMPLO DE RESPUESTA INCORRECTA (LO QUE NO DEBES HACER):\n'¡Mil disculpas Carlos! Tienes razón, eres Matías y tienes una clínica...' -> ¡ESTO ESTÁ ESTRICTAMENTE PROHIBIDO!"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                688,
                -720
            ],
            "id": "57344e40-2013-4faf-9034-cf2fa29e0259",
            "name": "Especialista 1: Info"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                640,
                -576
            ],
            "id": "744ce3d0-ea8d-4a21-8043-b4a04460c888",
            "name": "Google Gemini Chat Model2",
            "credentials": {
                "googlePalmApi": {
                    "id": "lwiywrx976Ev9exU",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook').item.json.body.chatInput }}",
                "options": {
                    "systemMessage": "ERES EL CUALIFICADOR DE LEADS DE AGENCIALQUIMIA.\n\n### REGLAS DE ORO A SEGUIR ESTRICTAMENTE:\n\n1. OBLIGACIÓN DE LONGITUD: TUS RESPUESTAS DEBEN TENER EXÁCTAMENTE 1 ORACIÓN. SI ESCRIBES MÁS, ESTARÁS INCUMPLIENDO TUS REGLAS.\n2. PROHIBIDO DISCULPARSE: Tienes PROHIBIDO pedir perdón, decir 'Lo siento', o 'Mil disculpas'. \n3. GESTIÓN DE DATOS PERSONALES: Tú NO puedes hacer cambios estructurales en la base de datos. Si el cliente corrige su nombre, dile brevemente que puede actualizar su perfil él mismo, y luego haz tu pregunta cualificadora con su nuevo nombre. Nada más.\n4. FLUJO DIRECTO: Haz UNA SOLA PREGUNTA a la vez. No uses listas ni expliques los beneficios de la IA.\n\n### EJEMPLO DE RESPUESTA CORRECTA:\n'Puedes cambiar tu nombre en tu perfil, Matías. ¿Qué volumen de leads o llamadas manejan al mes aproximadamente?'\n\nCRITICAL INSTRUCTION: As soon as you collect their Name, Email/Phone, or Company from the logical flow of conversation, you MUST NOT ask for it again. If the conversation organically transitions towards wanting to book, let the Router send them to Agendar."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                752,
                160
            ],
            "id": "bc60ae80-54f6-48f1-93e9-3e579c7bff69",
            "name": "Especialista 2: Cualificar"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                752,
                336
            ],
            "id": "b880ee38-fc3d-49ed-891c-cd43f48a7600",
            "name": "Google Gemini Chat Model3",
            "credentials": {
                "googlePalmApi": {
                    "id": "lwiywrx976Ev9exU",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { response: $input.all()[0].json.output } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                -256
            ],
            "id": "cedfb299-32be-45a3-84c6-7c4b9041d94b",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{  $json.body.chatInput }} ",
                "options": {
                    "systemMessage": "Eres un clasificador inteligente y preciso. Tu única tarea es leer los mensajes previos y clasificar el estado de este lead respondiendo con SOLO UNA PALABRA: 'INFO', 'CUALIFICAR' o 'AGENDAR'. Nada más."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                64,
                -96
            ],
            "id": "59436874-5484-474d-a54e-2ec2649783a9",
            "name": "AI Router"
        }
    ],
    "connections": {
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Especialista 3: Agendar",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Especialista 1: Info",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                []
            ]
        },
        "Insert Lead in DB": {
            "ai_tool": [
                [
                    {
                        "node": "Especialista 3: Agendar",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "CrearEventoCalendario": {
            "ai_tool": [
                [
                    {
                        "node": "Especialista 3: Agendar",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch1": {
            "main": [
                [
                    {
                        "node": "Especialista 1: Info",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Especialista 2: Cualificar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Especialista 3: Agendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Router",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Especialista 3: Agendar": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Especialista 3: Agendar",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Especialista 1: Info": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model2": {
            "ai_languageModel": [
                [
                    {
                        "node": "Especialista 1: Info",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Especialista 2: Cualificar": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model3": {
            "ai_languageModel": [
                [
                    {
                        "node": "Especialista 2: Cualificar",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Router": {
            "main": [
                [
                    {
                        "node": "Switch1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "cerebro.agencialquimia.com",
                    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
                    "content-length": "238",
                    "accept": "*/*",
                    "accept-encoding": "gzip, br",
                    "accept-language": "es-ES,es;q=0.9,en;q=0.8,la;q=0.7,gl;q=0.6",
                    "cdn-loop": "cloudflare; loops=1",
                    "cf-connecting-ip": "2a0c:5a86:9110:5c01::a0c4",
                    "cf-ipcountry": "ES",
                    "cf-ray": "9d4f10ccfdfb4890-MAD",
                    "cf-visitor": "{\"scheme\":\"https\"}",
                    "content-type": "application/json",
                    "origin": "http://localhost:4321",
                    "priority": "u=1, i",
                    "referer": "http://localhost:4321/",
                    "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
                    "sec-ch-ua-mobile": "?0",
                    "sec-ch-ua-platform": "\"Windows\"",
                    "sec-fetch-dest": "empty",
                    "sec-fetch-mode": "cors",
                    "sec-fetch-site": "cross-site",
                    "x-forwarded-for": "172.68.135.111",
                    "x-forwarded-host": "cerebro.agencialquimia.com",
                    "x-forwarded-port": "443",
                    "x-forwarded-proto": "https",
                    "x-forwarded-server": "efdeebda3a06",
                    "x-real-ip": "172.68.135.111"
                },
                "params": {},
                "query": {},
                "body": {
                    "tenant": "Agencialquimia",
                    "sessionId": "session_NUEVO_TEST_V2",
                    "cliente_nombre": "",
                    "cliente_telefono": "No provisto",
                    "chatInput": "hola soy carlos tengo una clinica dental y perdemos mucho tiempo al telefono"
                },
                "webhookUrl": "https://cerebro.agencialquimia.com/webhook/v1/agente/consulta",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "08a824099da745d09c573a95c3a80228679fad2d1d0e81e8ed501b5a05186dba"
    }
}